.loader {
  border-width: 3px;
  border-style: solid;
  border-color: #b4b4b4 #b4b4b4 #b4b4b4 transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}